body {
    font-family: 'Inter';
    background-color: #242324;
}

.container {
    width: 600px;
    height: 620px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 60px auto 0;
    position: relative;
}

span {
    margin-top: 2rem;
    color: #007bff;
    font-size: 1.1rem;
    font-weight: 500;
    position: absolute;
    margin-left: -40px;
}

.active-question {
    margin-left: 60px;
    margin-top: 1.7rem;
    font-weight: 600;
    font-size: 1.4rem;
}

.total-question {
    margin-left: 105px;
    margin-top: 1.9rem;
}

h2 {
    width: 550px;
    margin-top: 4.5rem;
    position: absolute;
    font-size: 25px;
    color: #545454;
    text-align: center;
    top: 0;
    /* Set to the top of the container */
}

.line {
    width: 500px;
    height: 2px;
    background-color: #c3c3c3;
    position: absolute;
    margin-top: 140px;
}

ul {
    list-style: none;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 10rem;

    .selected-answer {
        border: 2px solid rgb(3, 187, 3);
    }
}

li {
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    line-height: 3rem;
    border: 1px solid rgb(215, 193, 193);
    margin-bottom: 20px;
    padding: 10px 1rem;
    color: #545454;
    cursor: pointer;
}

.footer {
    bottom: 20px;
    right: 20px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}

button {
    border: none;
    background: #007bff;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    width: 80px;
    height: 30px;

    &:disabled {
        background: #96c5f7;
        cursor: not-allowed;
        color: #fff;
    }
}

.result {
    text-align: center;
    margin-top: 3rem;
}

h3 {
    font-size: 24px;
    letter-spacing: 1.4px;
    text-align: center;
}

p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 3rem;
}

.scores {
    margin: 0;
    margin-left: 15px;
}

.try {
    border: none;
    background: #007bff;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    width: 140px;
    height: 60px;
    margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        margin: 20px auto 0;
    }

    span,
    .active-question,
    .total-question,
    h2,
    ul {
        position: static;
        margin: 10px 0;
        text-align: center;
    }

    .line {
        display: none;
    }

    .active-question {
        margin-right: 15px;
        margin-top: 3px;
    }

    .total-question {
        margin-top: -35px;
        margin-left: 30px;
    }

    h2 {
        width: 100%;
    }

    .try {
        width: 100%;
        margin-top: 1rem;
    }
}